src/main/mule/my-teamcity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="226c326b-85e4-4250-8b1b-b31c47b4ffb1" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<flow name="my-teamcityFlow" doc:id="6122d7fe-4569-4b85-ac15-cb4c25840dc4" >
		<http:listener doc:name="Listener" doc:id="e96dc335-f947-4ab2-9244-5c0619b9f6ee" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="6dd13c35-399c-4a68-9ca9-697f9f1aa8d0" />
		<ee:transform doc:name="Transform Message" doc:id="34dc8321-b4de-428d-a161-c598e115ec6c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	hello:"Lokhi Deori"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0086b40e-aec5-4bd9-9798-5c27927a83ca" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c68673a8-b8fc-462a-83f3-de26bd414926" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b2099be3-c830-4b9c-a708-c0233fae2887" />
		<flow-ref doc:name="Flow Reference" doc:id="8a216e42-839e-4001-889b-08705d194598" />
	</flow>
</mule>
